/*                 GENERAL                     */

body {
  background-color: rgba(137, 77, 155, 0.5);
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Comfortaa', Arial, sans-serif;
}
a {
  text-decoration: none;
}
#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  max-width: 1600px;
  width: 90%;
  margin: 20px auto 20px auto;
  border-radius: 5px;
  background-color: rgba(256, 256, 256, .2);
}

.noscroll {
  overflow: hidden;
  margin-right: 10px;
}

.main {
  font-size: 20px;
  text-decoration: none;
}



/*                 NAVIGATION BAR (NavBar)                     */

.header_relative {
  height: 60px;
}

.header_absolute {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  background-color: rgb(112, 93, 128);
}

.navbar_logo {
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
}

.feature_container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container_camera_icon{
  width: 40px;
  padding: 0 75px 0 5px;
}

.photobooth_link{
  z-index: 45;
}
.gifme_logo, .camera_icon {
  transition: transform 0.2s;
  z-index: 40;
}
.gifme_logo:hover, .camera_icon:hover {
  transform: scale(1.1);
}

.signup_button {
  color: rgb(99, 150, 187);
  font-weight: bold;
  padding: 0 5px 0 5px;
  cursor: pointer;
}

.login_button {
  color: rgb(124, 186, 231);
  font-weight: bold;
  padding: 0 10px 0 5px;
  cursor: pointer;
}
.login_button:hover,
.signup_button:hover {
  filter: brightness(110%);
}

.login {
  float: right;
  margin: 0px 2.3px 0px 2.3px;
  padding: 4px;
  font-size: 12px;
  border-radius: 3px;
  text-decoration: none;
  background-color: rgba(256, 256, 256, 0.3);
}

.container-r-relative {
  margin-top: auto;
  margin-bottom: auto;
  float: left;
  width: 150px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}





/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 30px;
  right: 30px;
  top: 15px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
  height: 15% !important;
  width: 100%;
}

/* Position and sizing of clickable cross button 
.bm-cross-button {
  height: 40px;
  width: 24px;
}
*/

/* Color/shape of close button cross 
.bm-cross {
  background: #bdc3c7;
}
*/

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  text-align: center;
  margin:0;
  padding: 0.5em 1.5em;
  font-size: 1.15em;
  width: 200px;
}
.bm-menu-wrap{
  position: fixed;
  margin-top: 8px;
  left: 100vw;
  height: 190px !important;
  width: auto !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  height: 100px;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  padding: 8px;
  color: #d1d1d1;
  transition: color 0.1s;
  border-bottom: solid 0.1px white;
  width: 90%;
  cursor: pointer;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}


/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}









  /*                 EMAIL CONFIRMATION PAGE                    */
  .confirm_box{
    height: 100px;
    background-color: teal;
    text-align: center;
  }
  .confirm_button{
    text-decoration: none;
    color: white;
  }



/*                 ERROR                    */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap");

.errorBox {
  width: 100%;
  height: 100vh;
  text-align: center;
}
.bigTitle {
  padding-top: 100px;
  font-size: 140px;
  font-family: "Open+Sans";
  font-weight: 100;
}
.smallTitle {
  font-weight: 400;
  font-size: 17px;
}
.errorButton {
  font-size: 20px;
  font-weight: 300;
  color: white;
  background-color: rgb(238, 96, 48);
  padding: 12px;
  border-radius: 5px;
  text-decoration: none;
}

.error_message{
  background-color: rgb(231, 31, 24);
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 13px;
}

/*                 FOOTER                    */

.footer {
  position: fixed;
  bottom: 0;
  padding-bottom: 4px;
}
.icon {
  height: 20px;
}
.icon:hover {
  opacity: 0.5;
}

/*                 TEMPORAL CSS                    */
