/*                 GENERAL                     */

body {
  background-color: rgba(137, 77, 155, 90%);
  padding: 0;
    margin: 0;
    height: 100vh;
  }

/*                 HOME PAGE                     */

  .structure{
    padding: 0 10% 0 10%;
    height: 100vh;

}
.pic-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.pict_frame{
  border: solid 10px black;
  background-color: lawngreen;
  width: 200px;
}
.home_images{
  margin: 10px 3px 0 3px;
  width: 18vw;
  height: 20vw;
  max-width: 180px;
  max-height: 200px;
  border: solid 1px white;
  border-radius: 5px;
}
.home_pic_comments{
  text-align: center;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
  
  
  /*                 NAVIGATION BAR (NavBar)                     */
  
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.3);
  }
  .box{height: 50px;}
  
  .container{
      float: left;
      margin-top:15px;
      width: 20%;
  }
  .container-m{
    margin-top:15px;
    float: left;
    width: 60%;
    text-align: center;
  }
  .logo {
    margin-left: 20px;
    padding: 6px;
    font-size: 12px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, .3);
  }
  
  .main{
    font-size: 20px;
    text-decoration: none;
  }
  
  .login {
    float: right;
    margin: 0px 2.3px 0px 2.3px;
    padding: 4px;
    font-size: 12px;
    border-radius: 3px;
    text-decoration: none;
    background-color: rgba(256, 256, 256, .3);
  }
  
  /*                 ERROR                    */
  
  
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
  
  .errorBox {
      width: 100%;
      height: 100vh;
      background-color: white;
      text-align: center;
  }
  .bigTitle {
      padding-top:100px;
      font-size: 140px;
      font-family:'Open+Sans',;
      font-weight: 100;
  }
  .smallTitle{
      font-weight: 400;
      background-color: white;
      font-size: 17px;
  }
  .errorButton{
      font-size: 20px;
      font-weight: 300;
      color: white;
      background-color: rgb(238, 96, 48);
      padding: 12px;
      border-radius: 5px;
      text-decoration: none;
  }

  .error_message{
    padding: 3px;
    color: white;
    text-align: center;
    font-size: 12px;
}

  /*                 FOOTER                    */
  
.footer_container 
{
  position: relative;
  width: 100%;
  height: 80px; 
  }
  .footer{
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    padding: 10px;
    width: 100%;
    color: rgb(255, 255, 255, 40%);
    background-color: rgb(255, 255, 255, 50%);
  }

