
/*                 HOME PAGE                     */
img{
	width: 100%;
}
.home_imagegallery{
	padding: 20px 2px 0 2px;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-content: flex-start;
}
.image_card{
	background-color: rgba(0, 0, 0, 0.1);
	display: flex;
	border-radius: 5px;
	width: 210px;
    height: 230px;
	flex-direction: column;
	justify-content: center;
	margin: 10px;
}
  
.pic_frame{
	width: 200px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

.image_card_name{
	height: 20px;
	margin-left: 10px;
	display: flex;
	cursor: pointer;
}

.image_card_name_text{
	color: rgb(5, 5, 5);
}

.image_card_name_text_user{
	color: rgb(61, 82, 179);
	font-weight: bold;
}

.image_card_view_img{
	height: 15px;
	width: 15px;
	margin-right: 5px;
	cursor: pointer;
}

.image_card_delete{
	height: 12px;
	width: 12px;
	justify-content: flex-end;
	border: solid 2px rgba(256, 120, 120, 0.85);
	border-radius: 100%;
	margin-right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(256, 120, 120);
	background-color: rgba(256, 256, 256, 0.7);
	font-size: 12px;
	cursor: pointer;
}

.confirm_delete_popup{
	position: absolute;
	z-index: 100;
	left: calc(50% - 160px);
	top: 30%;
	width: 320px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: lightgrey;
	border: 3px solid white;
	border-radius: 5px;
}

.confirm_delete_txt{
	margin: 20px;
	text-align: center;
}

.confirm_delete_btns{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 30px;
}

.edit_icon{
	width: 10px;
}

.image_card_bottom{
	display: flex;
	justify-content: center;
	height: 5px;
}

.image_card_like{
	height: 50px;
	width: 50px;
	margin-top: -23px;
}

.overlay{
	display: flex;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 50;
	justify-content: center;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgba(0, 0, 0, 0.15);
	animation-name: show;
	animation-duration: .3s;
	overscroll-behavior: contain;
}

@keyframes show {
    0% {
      display: none;
      opacity: 0;
    }
    1% {
      display: flex;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.overlay_card{
	width: 80%;
	max-width: 500px;
	max-height: 900px;
	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 30px;
	z-index: 51;
	background-color: rgba(256, 256, 256, 1);
	display: inline-flex;
	min-height: 40%;
	flex-direction: column;
	align-items: center;
	height: auto;
}
.overlay_pic_frame{
	width: 250px;
	height: 250px;
	margin-top: 40px;
}

.overlay_img_top_right{
	position: absolute;
	width: 16px;
	height: 16px;
	padding: 2px;
	border-radius: 3px;
	margin-top: 10px;
	margin-left: 220px;
	background-color: rgba(256,256,256,0.7);
}

.overlay_export_box{
	margin-top: 20px;
	height: 50px;
	width: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.overlay_export_box > div{
	width: 50px;
	display: flex;
	align-content: center;
	align-items: center;
}
.overlay_export_box > div:hover{
	transform: scale(1.1);
}
.overlay_comment_box{
	margin-top: 20px;
	width: 200px;
}
.overlay_login_box{
	margin-top: 20px;
	width: 200px;
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	text-align: center;
	align-items: center;
	font-size: 16px;
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px;
	border-color: rgba(0, 0, 0, 0.7);
	border-radius: 3px;
}
.overlay_comment_form{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.overlay_comment_input{
	width: 100%;
}
.overlay_comment_submit{
	margin-top: 3px;
}
.overlay_all_comments{
	width: 80%;
	height: 400px;
	margin-top: 20px;
	margin-bottom: 30px;
	overflow-y: auto;
}
.overlay_comment_loggedin{
	font-weight: bold;
	color: blueviolet;
}
.overlay_comment_mycomment{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.overlay_comment_delete, .overlay_comment_edit{
	font-size: 10px;
	color: rgba(0, 0, 0, 0.7);
	margin-left: 5px;
}
.overlay_comment_delete:hover,  .overlay_comment_edit:hover{
	text-decoration: underline;
}
.overlay_comment_single{
	margin-top: 5px;
}
.overlay_comment_topbar{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	font-size: 12px;
}
.loader{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	flex: 1 1 100%;
}