
/*                 HOME PAGE                     */

.structure{
	padding: 0 5% 0 5%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}
.image_card{
	background-color: rgba(0, 0, 0, 0.1);
	display: flex;
	border-radius: 10px;
	width: 200px;
    height: 250px;
	flex-direction: column;
	justify-content: center;
	margin: 2vh;
}
  
.pic_frame{
	width: 200px;
	height: 200px;
}

.image_card_name{
	height: 30px;
	margin-left: 10px;
}

/* PARAGRAPHS HAVE BAD MARGINS USE ANOTHER FORM OF TEXT */

.image_card_comments{
	margin-left: 5px;
}

.image_card_comment_text{
	margin: 0, 0, 0, 0;
}

.image_card_name_text{
	font-size: 12px;
}