
.webcam_box, #upload_img {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  max-width: 500px;
}

.comments {
  margin: 5px;
}

#webcam {
  margin-top: 50px;
}